:root {
  --primary-color: #2e6763;
  --secondary-color: #144642ff;
  --background-color: #ebd6aac2;
  --text-color: #333;
  --white: #ffffff;
  --transition-speed: 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif; /* Ensuring consistent font */
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}